<h1>Welcome, <%= current_user.name %>!</h1>

<body>
  <%= button_to 'Discover Movies' %>
</body>

<section class="friends">
  <h3>Friends</h3>
  <hr>
  <%= render 'friend_search' %><br/>
  <div id='pending-friends'>
    <% current_user.pending_friends.each do |friend| %>
      <div id='friend-<%= friend.id%>'>
        <h6><%= friend.name %></h6>
        <p><%= friend.email %></p>
        <%= button_to 'Cancel' %>
      </div>
    <% end %>
  </div>
  <div id='pending-requests'>
    <% current_user.pending_requests.each do |friend| %>
      <div id='friend-<%= friend.id%>'>
        <h6><%= friend.name %></h6>
        <p><%= friend.email %></p>
        <%= button_to 'Approve' %>
        <%= button_to 'Deny' %>
      </div>
    <% end %>
  </div>
  <div id='approved-friends'>
  <% if current_user.approved_friends.empty? %>
    <p>You currently have no friends.</p>
  <% else %>
    <% @user.all_friends.each do |friend| %>
      <div id='friend-<%= friend.id%>'>
        <h6><%= friend.name %></h6>
        <p><%= friend.email %></p>
      </div>
    <% end %>
  <% end %>
  </div>

</section>
<br/>

<section class="parties">
  <h3>Movie Parties</h3>
  <hr>
</section>

<%= button_to 'Log Out', logout_path %>
