<h1>Welcome, <%= current_user.name %>!</h1>

<body>
  <%= button_to 'Discover Movies' %>
</body>

<section class="friends">
  <h3>Friends</h3>
  <hr>
  <%= render partial: 'friend_search' %><br/>
  <% if @friends.empty? %>
    <p>You currently have no friends.</p>
  <% else %>
    <% @friends.each do |friend| %>
      <div id='friend-<%= friend.id%>'>
        <h6><%= friend.name %></h6>
        <p><%= friend.email %></p>
      </div>
    <% end %>
  <% end %>
</section>
<br/>

<section class="parties">
  <h3>Movie Parties</h3>
  <hr>
</section>

<%= button_to 'Log Out', logout_path %>
