
<%= button_to 'Find Top Rated Movies' %>

<h3>OR</h3>

<%= form_with model: @movie, local: true do |f| %>

<%= f.label :title, "Movie Title" %>
<%= f.search_field :title %>

<%= f.submit 'Find Movies' %>
<% end %>
