<h1><%= @movie.title %></h1>

<%= button_to 'Create Viewing Party!', new_party_path, method: :get, params: { title: @movie.title,
                                                                               runtime: @movie.runtime, 
                                                                               movie_id: params[:id] } %>

<p><strong>Vote Average: </strong><%= @movie.vote_average %>
   <strong>Runtime: </strong><%= @movie.runtime %>
   <strong>Genre(s): </strong><%= @movie.genres.join(', ') %></p>

<section id="summary">
  <h4>Summary</h4>
  <p><%= @movie.overview %></p>
</section>

<section id="cast">
  <h4>Cast</h4>
  <% @cast.each do |actor| %>
    <p><%= actor.name %> as <%= actor.character %></p>
  <% end %>
</section>

<section id="reviews">
  <h4><%= @reviews.size %> Reviews</h4>
  <% @reviews.each do |review| %>
    <section id="review-<%= review.id %>">
    <strong>Author: <%= review.author %></strong>
    <p><%= review.content %></p>
    </section>
  <% end %>
</section>
